@charset "utf-8";

/* 2o Breakpoint
Media Query para telas a partir de 1050px */

@media screen and (min-width: 1050px) {
    .desktop-header {
        width: 100%;
        top: 0;
        height: 60px;
        z-index: 1000;
    }
    
    .desktop-header div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav { width: 100%; }

    /* Área desktop-home-carrossel */
    .desktop-home-carrossel{
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-gap: 20px;
        max-width: 1100px;
        max-height: 560px;
        margin: auto;
        margin-top: 65px;
    }
    .destaque-a{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
        max-width: 631px;
        max-height: 270px;
        background-color: #D8D8D8;
        justify-content: center;
        align-content: center;
        position: relative;
    }
    .destaque-a-text{
        margin: auto;
        color: #FFF;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 30px;
        text-align: center;
        padding: 89px 92px 0 92px;
    }
    .destaque-a-link{
        margin: auto;
        color: #FFF;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 30px;
        text-align: center;
        padding: 10px 171px 49px 171px;
    }
    .cronometro{
        display: grid;
        grid-column: 2;
        grid-row: 1 / 3;
        min-width: 447px;
        max-height: 560px;
        background-color: #C2BCBC;
        position: relative;
    }
    .cronometro-interno-title{
        display: grid;
        padding: 61px 112px 0 0;        
    }
    .cronometro-interno{
        display: grid;
        padding: 0 33px 63px 59px;
        align-content: space-between;        
    }
    .cronometro-title{
        color: #FFFFFF;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 29px;
        text-align: left;
    }
    .cronometro-n1, .cronometro-n2, .cronometro-n3, .cronometro-n4{
        display: flex;
        flex-direction: row;
    }
    #cronometro-n1, #cronometro-n2, #cronometro-n3, #cronometro-n4{
        color: #FFFFFF;
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 58px;
        padding-right: 10px;
    }
    .cronometro-interno p{
        color: #FFFFFF;
        font-size: 20px;
        letter-spacing: 0;
        line-height: 24px;
        text-align: left;
    }
    .destaque-bc{
        display: grid;
        grid-column: 1;
        grid-template-columns: auto auto;
        grid-gap: 20px;
        max-width: 631px;
        max-height: 270px;
        justify-content: space-between;        
    }
    .destaque-b{
        display: grid;
        max-width: 353px;
        max-height: 270px;
        background-color: #D8D8D8;
        justify-content: center;
        align-content: center;
        position: relative;
    }
    .destaque-b-text{
        margin: auto;
        color: #FFFFFF;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 30px;
        text-align: center;
        padding: 76px 16px 0 16px;
    }
    .destaque-b-link{
        margin: auto;
        color: #FFF;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 30px;
        text-align: center;
        padding: 10px 71px 35px 71px;
    }
    .destaque-c{
        max-width: 260px;
        max-height: 270px;
        background-color: #D8D8D8;
        position: relative;
    }
    .destaque-c-text{
        margin: auto;
        color: #FFFFFF;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 30px;
        text-align: center;
        padding: 92px 45px 0 45px;
    }
    .destaque-c-link{
        margin: auto;
        color: #FFF;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 30px;
        text-align: center;
        padding: 10px 22px 51px 25px;
    }
    .destaque-a-icons, .cronometro-icons, .destaque-b-icons, .destaque-c-icons{
        width: 91px;
        height: 36px;
        justify-content: space-around;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        background-color: #D0CECE;
        position: absolute;
        top: 0;
        right: 0;
    }
    #face{ width: 8px; height: 15px; }
    #twit{ width: 17px; height: 14px; }
    #insta{ width: 16px; height: 16px; }

    /* Área desktop-banner-avon */
    .desktop-banner-avon{
        background-color: #E6E5E5;
        text-align: center;
        justify-content: center;
        margin: auto;
        margin-top: 55px;
        max-width: 1100px;
        min-height: 130px;
        display: flex;
        flex-direction: row;
        align-items: center; 
    }
    .avon-title{
        font-size: 36px;
        line-height: 43px;
        letter-spacing: normal;
        text-align: center;
        color: #FFF;
        font-weight: bold;
        flex: 25%;
        padding: 10px;
    }
    .avon-text{
        font-size: 20px;
        line-height: 26px;
        letter-spacing: normal;
        text-align: left;
        color: #FFF;
        padding: 10px;
        flex: 50%;
    }
    .avon-button{
        flex: 25%;
    }
    .avon-button-1{
        width: 188px;
        height: 42px;
        background-color: #BBB5B5;
        font-size: 20px;
        color: #FFF;
        border: 1px solid #969292;
        cursor: pointer;
    }
    .avon-button-1:hover{
        box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

    /* Área desktop-carrossel-categorias */
    .desktop-carrossel-categorias{
        max-width: 1100px;
        max-height: 173px;
        margin: auto;
        margin-top: 65px;
        margin-bottom: 65px;
        text-align: center;
    }
    .desktop-carrossel-categorias h2{
        color: #BBB5B5;
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 31px;
        text-align: left;
    }
    .desktop-carrossel-categorias button{
        color: #FFFFFF;
        font-family: Helvetica;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 22px;
        text-align: center;
        padding: 10px 22px;
        border: 2px solid #969292;
        background-color: #D8D8D8;
    }
    .desktop-carrossel-categorias-buttons-2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 63%;
        margin: auto;
    }
    .desktop-carrossel-categorias-buttons-1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 30.6px;
        padding-bottom: 15px;
    }

    /* Área desktop-home-postagens-recente */
    .desktop-home-postagens-recente{
        max-width: 1100px;
        height: 650px;
        margin-top: 55px;
        margin: auto;       
    }
    .desktop-home-postagens-recente h2{
        color: #BBB5B5;
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 31px;
    }
    .posts{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: auto;
        justify-content: space-between;
    }
    .post-01, .post-02, .post-03{
        max-width: 353px;
        max-height: 463px;
        text-align: center;
    }
    #post-01, #post-02, #post-03{
        max-width: 353px;
        height: 240px;        
        background-color: #E6E5E5;
    }
    .post-01-text, .post-02-text, .post-03-text{
        color: #BBB5B5;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 28px;
        text-align: center;
        padding: 17px 37px 24px 37px;
    }    
    .post-01-link, .post-02-link, .post-03-link{        
        color: #BBB5B5;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 19px;
        text-align: center;
    }
    .btn-ver-tudo-div{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 38px;
    }
    .btn-ver-tudo{
        box-sizing: border-box;
        height: 48px;
        width: 353px;
        border: 2px solid #969292;
        background-color: #C2BCBC;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 22px;
        text-align: center;
        margin: auto;
        cursor: pointer;
    }
    .btn-ver-tudo:hover{
        box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    
    /* Área desktop-home-parceiros-01 */
    .desktop-home-parceiros-01{
        max-width: 1100px;
        max-height: 206px;        
        background-color: #D8D8D8;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 73px;
    }
    .desktop-home-parceiros-01 h2{
        color: #FFFFFF;
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 31px;
        padding: 45px 253px 0 70px;
    }
    .parceiros-rectangle{
        max-width: 90%;
        margin: auto;
        display: flex;
        align-items: stretch;
        padding-top: 25px;
        padding-bottom: 45px;
        justify-content: space-around;
    }
    .parceiros-rectangle div{
        background-color: #E6E5E5;
        height: 60px;
    }

    /* Área desktop-home-parceiros-02 */
    .desktop-home-parceiros-02{
        max-width: 1100px;
        height: 391px;
        margin-top: 73px;
        margin: auto;
    }
    .desktop-home-parceiros-02 h2{
        color: #D8D8D8;
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 31px;
    }
    .parceiros{
        display: flex;
        flex-wrap: nowrap;
        margin: auto;
        justify-content: space-between;
        margin-top: 30px;
    }
    .parceiros-01, .parceiros-02, .parceiros-03, .parceiros-04{
        max-width: 259px;
        max-height: 330px;
        text-align: center;
    }
    #parceiros-01, #parceiros-02, #parceiros-03, #parceiros-04{
        max-width: 259px;
        height: 150px;        
        background-color: #C2BCBC;
    }
    .parceiros-01 h3, .parceiros-02 h3, .parceiros-03 h3, .parceiros-04 h3{
        color: #D8D8D8;
        font-family: Helvetica;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 26px;
        text-align: left;
        padding: 15px 0;
    }
    .parceiros-01-text, .parceiros-02-text, .parceiros-03-text, .parceiros-04-text{
        color: #D8D8D8;
        font-family: Helvetica;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 26px;
        text-align: left;
    }

    /**************** FOOTER ****************/
    /* Área box-01 */
    .box-01{    
        height: 216px; 
        background-color: #E6E5E5;
        margin: auto;
        margin-top: 64px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
    }
    #box-01{
        max-width: 1100px;
        max-height: 106px;
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }    
    .realizacao{
        width: 100%;
        max-width: 415px;
        max-height: 106px;
        justify-content: space-between;   
    }
    .apoio{
        width: 100%;
        max-width: 353px;
        max-height: 106px;
        justify-content: space-between;
    }
    .realizacao h3, .apoio h3{
        color: #FFFFFF;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 24px;
    }
    .realizacao-01, .apoio-01{
        margin: auto;
        display: flex;
        align-items: stretch;
        padding-top: 21.4px;
        justify-content: space-between;
    }
    .realizacao-01 div, .apoio-01 div{
        background-color: #D8D8D8;
        height: 55px;
    }
    .box-02{    
        height: 47px; 
        background-color: #D0CECE;
        margin: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
    }
    #box-02{
        width: 40%;
        height: 27px;
        color: #FFFFFF;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 17px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    #box-02 a{
        color: #FFF;
        text-decoration: none;
        cursor: pointer;
        outline: none;
    }
    #box-02 p{
        font-size: 20px;        
    }
    .box-02-icons{
        width: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
 
}